* {
    margin: 0;
    padding: 0;
    font-family: 'Oleo Script', cursive;
    box-sizing: border-box;
}

body {
    letter-spacing: 2px;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    background: url(../images/bleach_background2.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    .bleach_quiz_app{
        background-color: rgba(255,255,255,0.53);
        width: 90%;
        max-width: 600px;
        margin:  100px auto;
        padding: 20px;
        border: 2px solid white;
    }
    
    .bleach_quiz_app h1{
        text-align: center;
        font-size: 50px;
        border: 2px solid black;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .bleach_quiz{
        border-bottom: 2px solid black;
        border-left: 2px solid black;
        border-right: 2px solid black;
        padding: 10px;
    }
    
    .bleach_quiz h2{
        font-size: 25px;
    }

    .ans_btn{
        font-size: 15px;
        background:  #fff;
        color: #222;
        width: 100%;
        border: 1px solid #222;
        border-width: 10px;
        padding: 10px;
        margin: 10px 0;
        text-align: left;
        cursor: pointer;
        transition: all 0.3s;
        border-style: double;
    }
    
    .ans_btn:hover:not([disabled]){
        background: #474949;
        color: #fff;
    }
    
    .ans_btn:disabled{
        cursor: no-drop;
    }